<section class="case_page">
  <!--#include virtual="/parts/top-line.html" -->
</section>
<section class="single-case_page">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10 d-flex justify-content-between align-items-center">

        <a href="#" class="d-none d-lg-block exit banner-minus d-none d-lg-block">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="28" r="27" transform="rotate(90 28 28)" stroke="#141414" stroke-width="2"/>
            <path d="M37.0079 28.9001C37.505 28.8957 37.9045 28.4892 37.9001 27.9921C37.8957 27.495 37.4892 27.0955 36.9921 27.0999L37.0079 28.9001ZM18.0243 27.5302C17.6758 27.8848 17.6808 28.4547 18.0355 28.8032L23.8141 34.4811C24.1687 34.8296 24.7386 34.8246 25.0871 34.47C25.4355 34.1154 25.4305 33.5454 25.0759 33.197L19.9393 28.1499L24.9864 23.0133C25.3348 22.6587 25.3298 22.0888 24.9752 21.7404C24.6206 21.392 24.0507 21.397 23.7022 21.7516L18.0243 27.5302ZM36.9921 27.0999L18.6584 27.261L18.6743 29.0612L37.0079 28.9001L36.9921 27.0999Z" fill="#141414"/>
          </svg>            
        </a>

        <a href="#" class="main-tag banner-minus d-block d-lg-none">
          <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.336 10.6364C19.8332 10.6321 20.2326 10.2255 20.2282 9.72842C20.2239 9.2313 19.8173 8.83184 19.3202 8.83621L19.336 10.6364ZM0.352394 9.26655C0.00396621 9.62115 0.0089743 10.1911 0.36358 10.5395L6.14222 16.2175C6.49683 16.5659 7.06675 16.5609 7.41518 16.2063C7.76361 15.8517 7.7586 15.2818 7.40399 14.9333L2.26742 9.88625L7.31451 4.74967C7.66293 4.39507 7.65793 3.82515 7.30332 3.47672C6.94871 3.12829 6.37879 3.1333 6.03036 3.4879L0.352394 9.26655ZM19.3202 8.83621L0.986556 8.99732L1.00238 10.7975L19.336 10.6364L19.3202 8.83621Z" fill="#BFBFBF"/>
          </svg>            
          портфолио
        </a>


        <div class="main-tag banner-minus d-none d-lg-block">кафе / рестораны</div>

        <div class="info d-block d-lg-none banner-minus">St.Petersburg. 10 / 22</div>

      </div>
      <div class="col-xl-10 d-flex justify-content-between align-items-center line-info">
        <div class="name banner">LEEMB</div>
        <div class="info d-none d-lg-block banner">St.Petersburg. 10 / 22</div>
      </div>
    </div>
    <div class="row  section justify-content-center">

      <div class="col-xl-4 col-12">
        <div class="img-ovf"><img src="images/dist/single-case1.png" alt=""></div>
        <div class="tag-cloud d-none d-lg-block">
          <div class="title">состав проекта:</div>
          <div class="tags">
            <div class="item"># логотип</div>
            <div class="item"># брендбук</div>
            <div class="item"># документация</div>
            <div class="item"># фирменная палитра и шритфы</div>
            <div class="item"># соц.сети</div>
            <div class="item"># полиграфия</div>
            <div class="item"># меню</div>
            <div class="item"># упаковка</div>
            <div class="item"># рекламные плакаты</div>
            <div class="item"># фасадные вывески</div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 d-none d-lg-block"><div class="img-ovf"><img src="images/dist/single-case1_2.png" alt=""></div></div>

      <div class="col-xl-10 about-brand">
        <div class="title">о бренде</div>
        <p>Leemb — сеть заведений не только с особым подходом к приготовлению кофе, но и с большой линейкой авторских десертов. Бренд стремится стать приятной частью жизни своих гостей: с ним начинают день, проводят деловые встречи и романтические свидания.</p>
      </div>

      <div class="col-xl-4 col-6"><div class="img-ovf"><img src="images/dist/single-case1_3.png" alt=""></div></div>
      <div class="col-xl-6 col-6"><div class="img-ovf"><img src="images/dist/single-case1_4.png" alt=""></div></div>
      <div class="col-xl-6 col-8"><div class="img-ovf"><img src="images/dist/single-case1_5.png" alt=""></div></div>
      <div class="col-xl-4 col-4"><div class="img-ovf"><img src="images/dist/single-case1_6.png" alt=""></div></div>

      <div class="col-xl-10 about-brand">
        <div class="title">ключевая задача</div>
        <p>Бренд преимущественно нацелен на молодую и активную аудиторию: студенты, представители творческих профессий, желающие много общаться и проводить время вне дома. Отсюда последовала задача создать «живой» и «подвижный» бренд, органично вписывающийся в быстрый ритм современной жизни.</p>
      </div>

      <div class="col-xl-10 col-12"><div class="img-ovf"><img src="images/dist/single-case1_7.png" alt=""></div></div>
      <div class="col-xl-10 col-6"><div class="img-ovf"><img src="images/dist/single-case1_8.png" alt=""></div></div>
      <div class="col-xl-5 col-6"><div class="img-ovf"><img src="images/dist/single-case1_9.png" alt=""></div></div>
      <div class="col-xl-5 col-12"><div class="img-ovf"><img src="images/dist/single-case1_10.png" alt=""></div></div>
      <div class="col-xl-10 d-none d-lg-block"><div class="img-ovf"><img src="images/dist/single-case1_11.png" alt=""></div></div>

      <div class="col-xl-10 about-brand">
        <div class="title">решение</div>
        <p>Задача создать «живой» фирменный стиль продиктовала решение с очень пластичной айдентикой, где элементы буквально трансформируются, адаптируясь к конфигурации носителя. В рамках проекта была разработана система логотипов с акцентной буквой «m», которая меняясь, создаёт динамичные композиции и образно транслирует современную действительность.</p>
      </div>

      <div class="col-xl-4 col-12"><div class="img-ovf"><img src="images/dist/single-case1_12.png" alt=""></div></div>
      <div class="col-xl-6 col-5"><div class="img-ovf"><img src="images/dist/single-case1_13.png" alt=""></div></div>
      <div class="col-xl-10 col-7"><div class="img-ovf"><img src="images/dist/single-case1_14.png" alt=""></div></div>
      <div class="col-xl-10 d-none d-lg-block"><div class="img-ovf"><img src="images/dist/single-case1_15.png" alt=""></div></div>
      <div class="col-xl-4 d-none d-lg-block"><div class="img-ovf"><img src="images/dist/single-case1_16.png" alt=""></div></div>
      <div class="col-xl-6 d-none d-lg-block"><div class="img-ovf"><img src="images/dist/single-case1_17.png" alt=""></div></div>
      <div class="col-xl-10 col-12"><div class="img-ovf"><img src="images/dist/single-case1_18.png" alt=""></div></div>

      <div class="col-12 d-flex d-lg-none">
        <br>
        <a style="margin: 0 auto;" href="#" class="main-tag banner-minus">
          mérge
          <svg style="transform: rotate(180deg)" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.336 10.6364C19.8332 10.6321 20.2326 10.2255 20.2282 9.72842C20.2239 9.2313 19.8173 8.83184 19.3202 8.83621L19.336 10.6364ZM0.352394 9.26655C0.00396621 9.62115 0.0089743 10.1911 0.36358 10.5395L6.14222 16.2175C6.49683 16.5659 7.06675 16.5609 7.41518 16.2063C7.76361 15.8517 7.7586 15.2818 7.40399 14.9333L2.26742 9.88625L7.31451 4.74967C7.66293 4.39507 7.65793 3.82515 7.30332 3.47672C6.94871 3.12829 6.37879 3.1333 6.03036 3.4879L0.352394 9.26655ZM19.3202 8.83621L0.986556 8.99732L1.00238 10.7975L19.336 10.6364L19.3202 8.83621Z" fill="#BFBFBF"/>
          </svg>            
        </a>
      </div>

    </div>
  </div>
</section>