.single-service_wrapper
  color: white
  background: $textcolor
  padding-bottom: 100px
  .main-tag
    font-weight: 500
    font-size: 11px
    line-height: 14px
    text-decoration: none
    display: inline-flex
    width: 150px
    gap: 10px
    align-items: center
    justify-content: center
    letter-spacing: 0.12em
    text-transform: uppercase
    color: #BFBFBF
    padding: 16px 20px
    border: 2px solid #BFBFBF
    border-radius: 28px
    margin-bottom: 50px
  .title
    font-weight: 500
    font-size: 50px
    line-height: 60px
    letter-spacing: 0.055em
    margin-top: 90px
    margin-bottom: 70px
    color: #FFFFFF
  .main-title
    margin-bottom: 80px
    font-weight: 500
    font-size: 32px
    line-height: 41px
    letter-spacing: 0.055em
    text-transform: uppercase
    color: #FFFFFF
  .main_wrapper
    background: #2F2F2F
    border-radius: 47px
    padding: 50px 70px 70px 70px
    display: flex
    flex-direction: column
    justify-content: center
    .button-outline
      border-color: white
      color: white
      margin: 0 auto
      &:hover
        background: white
        color: $textcolor
    .list
      counter-reset: list
      .gallery
        margin-bottom: 80px
        display: flex
        justify-content: space-between
        align-items: center
        .img
          border-radius: 47.085px
          height: 255px
          width: calc(100% / 3 - 15px)
          display: flex
          justify-content: center
          align-items: center
          img
            height: 100%
            object-fit: cover
            width: 100%
      .item
        padding-left: 90px
        position: relative
        &::before
          content: counter(list)
          counter-increment: list
          position: absolute
          left: 0
          border-radius: 100%
          top: -10px
          height: 56px
          width: 56px
          border: 2px solid #FFFFFF
          display: flex
          justify-content: center
          align-items: center
        .title
          margin-bottom: 18px
          font-weight: 500
          font-size: 24px
          line-height: 31px
          letter-spacing: 0.05em
          margin-top: 0
          span
            display: inline-block
            padding-left: 15px
            font-weight: 400
            font-size: 10px
            line-height: 13px
            letter-spacing: 0.05em
        p
          margin-bottom: 80px
          font-weight: 400
          font-size: 16px
          line-height: 22px
          letter-spacing: 0.06em
          width: 60%